<app-navbar></app-navbar>
<!--Grid column-->
<div class="col-md-6 col-xl-5 mb-4">

  <!--Card-->
  <div class="card">

    <!-- Form -->
    <form name="" class="card" [formGroup]="registerForm">
      <!-- Heading -->
      <h3 class="dark-grey-text text-center">
        <strong>Registro:</strong>
      </h3>
      <hr>

      <div class="md-form">
        <i class="fas fa-user prefix grey-text"></i>
        <input id="username" formControlName="username" type="text" class="form-control" />
        <label for="form3">Usuario: </label>
      </div>
      <div class="md-form">
        <i class="fas fa-user prefix grey-text"></i>
        <input id="first_name" formControlName="first_name" type="text" class="form-control" />
        <label for="form3">Nombre: </label>
      </div>
      <div class="md-form">
        <i class="fas fa-user prefix grey-text"></i>
        <input id="last_name" formControlName="last_name" type="text" class="form-control" />
        <label for="form3">Apellido: </label>
      </div>
      <div class="md-form">
        <i class="fas fa-envelope prefix grey-text"></i>
        <input id="email" formControlName="email" type="emal" class="form-control" />
        <label for="form2">Correo: </label>
      </div>
      <div class="md-form">
        <i class="fas fa-envelope prefix grey-text"></i>
        <input id="password" formControlName="password" type="password" class="form-control" />
        <label for="form2">Contraseña: </label>
      </div>
      <div class="text-center">
        <button class="btn btn-info btn-sm" id="send" name="send" type="submit" (click)="register()">Submit</button>
        <hr>
        <button class="btn btn-info btn-sm" (click)="goBack()">Cancelar</button>
      </div>

    </form>
    <!-- Form -->

  </div>
  <!--/.Card-->

</div>
<!--Grid column-->